*{
    box-sizing: border-box;
}

body{
    background:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#claim{
    max-width: 800px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
#reward{
    margin-top: 30%;
    margin-bottom: 30%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    background: rgb(219, 226, 231);
    box-shadow:  6px -6px 8px rgb(16, 47, 73),
    -6px 6px 8px rgb(80, 96, 109);
}
#reward > button{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    font-weight: 300;
    background: white;
}
#reward > button:hover{
    background: red;
}
.discord{
    display: flex;
    justify-content: space-between;
}
.discord > img{
    height: 40px;
    width: 40px;
    margin: 0;
}
.discord > p{
    font-size: 20px;
    color: red;
    margin: 0 20px;
    cursor: pointer;
}
.discord > p:hover{
    color: black;
}
.display{
    display: inline-block;
    align-items: center;
}